<h2>Transactions</h2>
<h2>Total: £<%= Transaction.total() %>, remaining budget: £<%= @budget.remaining_funds %>... <%= @budget.status? %></h2>

<p><a href="transactions/new">New Transaction!</a> </p>

<table>

  <tr>
    <th>ID</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Date</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>

  <% for transaction in @transactions do %>
    <tr>
      <td><%= transaction.id %></td>
      <td><%= transaction.merchant %></td>
      <td><%= transaction.tag %></td>
      <td><%= transaction.trans_date %></td>
      <td><%= transaction.amount %></td>
      <td> <a href="/transactions/<%=transaction.id%>"> Details </a> </td>
      <td> <a href="/transactions/<%=transaction.id%>/edit"> Edit </a> </td>
    </tr>
  <% end %>

</table>
