<h2>Transactions</h2>
<h2>Total: £<%=Transaction.total()%></h2>

<table>

  <tr>
    <th>ID</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Date</th>
    <th>Amount</th>
  </tr>

  <% for transaction in @transactions do %>
    <tr>
      <td><%= transaction.id %></td>
      <td><%= transaction.merchant %></td>
      <td><%= transaction.tag %></td>
      <td><%= transaction.trans_date %></td>
      <td><%= transaction.amount %></td>
    </tr>
  <% end %>

</table>
