<h2>Transactions</h2>
<h2>Total: £<%= Transaction.total() %>, remaining budget: £<%= @budget.remaining_funds %>... <%= @budget.status? %></h2>

<p><a href="transactions/new">New Transaction!</a> </p>

<p>
  <form class="" action="/transactions/merchant" method="post">

    <label for="merchant_select">Filter by Merchant:</label>
    <select name="merchant_id" id="merchant_select">
      <% @merchants.each do |merchant| %>
      <option value=<%= merchant.id %>><%= merchant.name %></option>
      <% end %>
    </select>
    <input class="btn btn--submit" type="submit" value="Confirm">

  </form>
</p>

<p>
  <form class="" action="/transactions/tag" method="post">

    <label for="tag_select">Filter by Tag:</label>
    <select name="tag_id" id="tag_select">
      <% @tags.each do |tag| %>
      <option value=<%= tag.id %>><%= tag.name %></option>
      <% end %>
    </select>
    <input class="btn btn--submit" type="submit" value="Confirm">

  </form>
</p>


<!-- Make Table of Transactions -->

<table>

  <tr>
    <th>ID</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Date</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>

  <% for transaction in @transactions do %>
    <tr>
      <td><%= transaction.id %></td>
      <td><%= transaction.merchant %></td>
      <td><%= transaction.tag %></td>
      <td><%= transaction.trans_date %></td>
      <td><%= transaction.amount %></td>
      <td> <a href="/transactions/<%=transaction.id%>"> Details </a> </td>
      <td> <a href="/transactions/<%=transaction.id%>/edit"> Edit </a> </td>
    </tr>
  <% end %>

</table>
