<h1>Transaction info</h1>

<p>Id: <%= @transaction.id %></p>
<p>Merchant: <%= @transaction.merchant %></p>
<p>Tag: <%= @transaction.tag %></p>
<p>Date: <%= @transaction.trans_date %></p>
<p>Amount: <%= @transaction.amount %></p>
<p>Budget: <%= @transaction.budget %></p>
